.team-photo {
  width: 270px;
}

.services-image {
  width: 370px;
}

:root {
  --color212121: #212121;
  --background-2196f3: #2196f3;
  --color757575: #757575;
  --colorffffff: #ffffff;
  --color2196f3: #2196f3;
  --color000000: #000000;
  --background-2f303a: #2f303a;
  --colorffffff: #ffffff;
  --colorececec: #ececec;
  --colorf5f4fa: #f5f4fa;
  --colorffffff60: #ffffff60;
  --font-primary: "Roboto", sans-serif;
  --font-logo: "Raleway", sans-serif;
}

.logo-highlight {
  color: var(--color000000);
  font-size: 26px;
  font-family: var(--font-logo);
  font-weight: 700;
}

.logo {
  color: var(--color2196f3);
  font-size: 26px;
  font-family: var(--font-logo);
  font-weight: 700;
}

.nav-link {
  color: var(--color212121);
  font-size: 14px;
}

.contact-link {
  color: var(--color757575);
  font-size: 14px;
}

.hero-title {
  color: var(--colorffffff);
  font-size: 44px;
}

.hero {
  background-color: var(--background-2f303a);
}

.hero-button {
  background-color: var(--background-2196f3);
  font-size: 16px;
}

.features-title {
  color: var(--color212121);
  font-size: 14px;
  line-height: 1.2;
}

.features-text {
  color: var(--color757575);
  font-size: 14px;
  line-height: 1.2;
}

.services-title {
  color: var(--color212121);
  font-size: 36px;
}

.team-title {
  color: var(--color212121);
  font-size: 36px;
}

.team-name {
  color: var(--color212121);
  font-size: 16px;
  line-height: 1.2;
}

.team-role {
  color: var(--color757575);
  font-size: 16px;
  line-height: 1.2;
}

.footer {
  background-color: var(--background-2f303a);
}

.footer-logo {
  color: var(--color2196f3);
  font-size: 26px;
  line-height: 1.2;
  font-family: var(--font-logo);
  font-weight: 700;
}

.footer-logo-highlight {
  color: var(--colorffffff);
  font-size: 26px;
  line-height: 1.2;
  font-family: var(--font-logo);
  font-weight: 700;
}

.footer-contact-link {
  color: var(--colorffffff60);
  font-size: 14px;
  line-height: 1.2;
}

.footer-address-text {
  color: var(--colorffffff);
  font-size: 14px;
  line-height: 1.2;
}

.zzzzzz {
  color: var(--colorffffff60);
  font-size: 14px;
  line-height: 1.2;
}

body {
  font-family: var(--font-primary);
}

@font-face {
  font-family: "MyCustomFont";
  src: url("fonts/MyCustomFont.ttf") format("truetype"); /* Формат шрифту */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyCustomFont", sans-serif;
}

body {
  font-family: "Arial", "Helvetica", sans-serif;
}
